<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer class="py-2"  style="background-color: white">
      <div class="container-fluid">
        <p class="sm-0 text-center text-dark">Copyright &copy; {{ site.time | date: '%Y' }} ImageToPdfConverter</p>
      </div>
      <img src="/assests/img/logo-linkedin.svg" width="30" height="30" alt="" class="social-icon">
      <a href="#"></a>

      <img src="/assests/img/logo-youtube.svg" width="30" height="30" alt="" class="social-icon">
      <a href="#"></a>

      <img src="/assests/img/facebook.svg" width="30" height="30" alt="" class="social-icon">
      <a href="#"></a>

      <img src="/assests/img/twitter.svg" width="30" height="30" alt="" class="social-icon">
      <a href="#"></a>

      <img src="/assests/img/instagram.svg" width="30" height="30" alt="" class="social-icon">
      <a href="#"></a>
    </footer>
    <br>
    <br>
  <div class=container-fluid id="lower-footer">
    <div class="row g4">
      <div class="col-4">
        <h5 id="love-for-website">&copy; Made with love for the people</h5>
      </div>
      <div class="col-4">
        <h5 id="privacy-and-terms">Privacy & Terms</h5>
      </div>
      <div class="col-4" id="contact-us">
        <h5>Contact Us</h5>
      </div>
  </div>


  </body>
</html>
